$mdc-theme-primary: #1e88e5;
$mdc-theme-on-primary: #000000;
$mdc-theme-secondary: #18ffff;
$mdc-theme-on-secondary: #000000;
$mdc-theme-surface: #f9f9f9;
$mdc-theme-on-surface: #000000;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #000000; 